
<div class="row">
    <div class="col-md-6">
      <h1 class="card-header1"> Sistem Perubatan Sihat2U</h1>

      <hr>
        
      <p ngClass="home">
        Sihat2u.my adalah program bersepadu yang dikendalikan oleh Akademi Tahfiz Medik Antarabangsa(ATMeDIK)/Konsortium Sihat2u PLT secara inisiatif sukarela bagi memasyarakatkan amalan gaya hidup sihat secara menyeluruh meliputi aspek jiwa, emosi, minda dan fizikal melalui aplikasi Perubatan Melayu. Sihat2u.my merupakan program pembangunan berterusan Perubatan Melayu secara usahasama dengan Pusat Penyelidikan Fiqh Sains & Teknologi (CFiRST-UTM), Kolej Universiti Antarabangsa PICOMS (PIUC), Kolej Space (UTMServices Sdn Bhd) dan Pertubuhan Pengamal Perubatan Naturopati Melayu Malaysia (PURNAMA).
      </p>


    </div>

    <div class="col-md-6">

    <div class="container">
        <h1 class="card-header"> Selamat Datang </h1>
    </div>
    
      <div class="row">
        <div class="col-xs-12">
          <img
            src="../../assets/img/ATMeDIK-Kampus.png"
            alt=" homepage "
            class="img-responsive"
            style="max-height: 500px;">
        </div>
      </div>
      

    </div>
  </div>
  