<div class="container">
  
      <h1 class="card-header"> Admin User </h1>

    <div class="row">
      <div class="col-xs-12">
        <img
          [src]="booking.imagePath"
          alt="{{ booking.name }}"
          class="img-responsive"
          style="max-height: 300px;">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1>{{ booking.name }}</h1>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12">
        <p class="p"> {{ booking.description }} </p>
      </div>
    </div>

</div>