<div class="row">
    <div class="col-md-5">
      <app-booking-list></app-booking-list>

      <hr>
      <li  
      class="btn-group"
       appDropdown 

       >
       <button
       type="button"
       class="btn btn-primary dropdown-toggle">
       simpan/Tarik <span class="caret"></span>
     </button>

        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
          </li>
        </ul>
      </li>

    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
  